.input {
    display: flex;
    flex-direction: column;
}

input {
    width: 14.875rem;
    height: 3.125rem;
    background-color: #FFFFFF;
    border-radius: 0.438rem;
    border: none;
    padding: 0 1.125rem;
    color: #868686;
    font: 400 1.125rem Roboto;

    margin-right: 2.125rem;
}

.input + .input input {
    margin-right: 0;
}

input:focus {
    border: 0 none;
    outline: 0;
}

input::placeholder {
    color: #868686;
    font: 400 1.125rem Roboto;
}